<%- include("header.ejs") %>


<% if(locals.content && locals.date && locals.title) {%>
  <div class="wrap">
    <div class="header">
      <h1>Blog</h1>
      <div class="sub">Article</div>
    </div>

    <article class="card article">
      <div class="meta">
        <span class="pill-date"><%- date %></span>
        <span class="dot"></span>
        <span>by Sheikh Said El-Kamali</span>
        <span class="dot"></span>
        <span>5 min read</span>
      </div>

      <h2><%- title %></h2>

      <div class="content">
        <p>
            <%- content %>
        </p>
      </div>
    </article>
  </div>
<% } %>
</div>

<%- include("./footer.ejs") %>
